section {
	margin: 30px 0;
	}
#section_wrap {
	margin: auto 100px
}
#section_wrap .word {
	margin: auto;
	text-align: center;
	}

#section_wrap .recommendation {
	margin: auto;
	align: center
	}
#section_wrap .recommendation ul {
	align: center;
}
caption {
	font-weight: bolder;
}
#row {
	display: flex;
}
#section_wrap .recommendation ul li table {
	min-width: 500px;
	min-height: 300px;
	border-collapse: collapse;
	text-align: center;
}

#section_wrap .recommendation ul li table td:nth-child(1) {
	text-align: center;
	font-weight: bolder;
}
td {
	min-width: 250px;
	min-height: 50px;
}

#section_wrap .recommendBtn {
	font-weight: bolder;
}
body {
	background-color: #BDD6D2;
}

#placeImg {
        max-width: 500px;
        min-width: 400px;
        height: auto;
    }