section {
	margin: 30px 0;
	}
#section_wrap {
	margin: auto 100px
}
#section_wrap .word {
	margin: auto;
	text-align: center;
	}

#section_wrap .recommendation {
	margin: auto;
	align: center;
	display: flex;
	}
#section_wrap .recommendation ul {
	align: center;
}
caption {
	font-weight: bolder;
	font-size: 25px;
}
#row {
	display: flex;
}
#section_wrap .recommendation ul li table {
	min-width: 500px;
	min-height: 300px;
	border-collapse: collapse;
	text-align: center;
}

#section_wrap .recommendation ul li table td:nth-child(1) {
	text-align: center;
	font-weight: bolder;
}
td {
	min-width: 250px;
	min-height: 50px;
}

#section_wrap .recommendBtn {
	font-weight: bolder;
}
body {
	background-color: #BDD6D2;
}

#placeImg {
        width: 350px;
        height: auto;
    }

#star {
	width: 50px;
	height: 50px;
	display: block;
}

#inputTextBox {
	list-style-type: none; /* 목록의 기본 스타일 제거 */
    padding: 0; /* 목록의 내부 여백 제거 */
    display: flex; /* Flexbox를 사용하여 자식 li를 수직으로 배치 */
    flex-direction: column; /* 자식 li를 세로(column)로 배치 */
    align-items: center;
}

#pmCity {
	width: 780px;
}

#place {
    display: none;
}
button {
	padding: 10px 30px;
}